{% load static role_tags %}

<header class="nf-header">
    <div class="nf-header__left">
        <a class="nf-logo" href="{% url 'dashboard' %}">STREAMSYNC</a>

        <nav class="nf-nav" aria-label="Principal">
            <a class="nf-nav__link" href="{% url 'dashboard' %}">
                Inici
            </a>

            {% if user.is_authenticated %}
            <a class="nf-nav__link" href="{% url 'profile' %}">
                Perfil
            </a>
            {% endif %}

            {% if user|has_role:"content_consumer" %}
                <a class="nf-nav__link nf-nav__link--highlight" href="{% url 'preferences' %}">
                    Preferències
                </a>
            {% endif %}

            {% if user|has_role:"platform_manager" %}
                <a class="nf-nav__link" href="{% url 'platform_analytics_dashboard' %}">
                    Analitica
                </a>
                <a class="nf-nav__link" href="{% url 'platform_analytics_pdf' %}">
                    Exportar PDF
                </a>
            {% endif %}
        </nav>
    </div>
    {% if user.is_authenticated %}
    <div class="nf-header__right">
        <div class="nf-profile">

            <!-- 👤 ICONA PERFIL -->
            <div class="nf-profile__avatar" title="{{ user.username }}">
                {{ user.username|first|upper }}
            </div>

            <div class="nf-profile__meta">
                <div class="nf-profile__name">{{ user.username }}</div>

                <div class="nf-profile__role">
                    {% if user.groups.first %}
                        {{ user.groups.first.name }}
                    {% else %}
                        {% if user.is_staff %}
                        Staff
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <a class="nf-btn-signout" href="{% url 'logout' %}">
                Tancar sessió
            </a>
        </div>
    </div>
    {% else %}
    <div class="nf-header__right">
        <a class="nf-btn-signout" href="{% url 'login' %}">
            Iniciar sessió
        </a>
    </div>
    
    {% endif %}

</header>
